.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: $padding-base * 3 0;
  font-family: $font-family-primary;
  h1 {
    font-family: $font-family-primary;
    font-size: $font-size-title * 1.4;
    font-weight: 600;
  }
  p {
    font-family: $font-family-secondary;
    font-size: $font-size-base * 1.4;
    color: $gray-main;
  }

  .sub-title {
    font-size: 2.5rem;
    font-weight: 300;
    padding: $padding-base 0;
    color: lighten($gray-main, 10%);
  }
  .hire-btn {
    margin: $margin-base;
    font-size: $font-size-title;
    padding: 2.5rem 3.5rem;
  }
  .selected-work-container {
    width: 70%;
    h1 {
      padding: $padding-base * 2 0;
      font-size: $font-size-title * 1.5;
      font-weight: 700;
    }
    .work-list {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 3rem;
      li {
        margin: 1rem;
      }
    }
  }
  .see-more-btn {
    padding: $padding-base * 0.5 $padding-base * 0.6;
    z-index: 1000;
  }
  .things-i-do-container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 2fr 1fr;
    width: 76%;
    padding: $padding-base * 6 0;
    p {
      padding: $padding-base 0;
      text-align: start;
      font-weight: 300;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .about {
      line-height: 3.5rem;
      padding-right: $padding-base;
    }

    .skills {
      background-color: $black-secondary;
      border-radius: $border-radius-base;
      padding: $padding-base * 2;
      p {
        font-size: 1.8rem;
        line-height: 2.3rem;
      }
      .btn-container {
        z-index: 1123;
        background-color: transparent;
        button {
          padding: $padding-base * 0.6;
        }
      }
    }
  }
}
@media (max-width: $small-screen) {
  .home-page {
    .selected-work-container {
      width: 100%;
      .work-list {
        flex-direction: column;
        padding: 1rem;
      }
    }
    .things-i-do-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      p {
        text-align: center;
      }
      div {
        align-items: center;
      }
    }
  }
}
@media (max-width: $medium-screen) {
  .home-page {
    .selected-work-container {
      width: 100%;
    }
  }
}
