.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: $padding-base * 1.5 0;
    font-family: $font-family-primary;
    width: 100%;

    &.wrapper {
        max-width: 1920px;
    }

    h1 {
        font-family: $font-family-primary;
        font-size: $font-size-title * 1.4;
        font-weight: 600;
        color: $black-main;
    }

    p {
        font-family: $font-family-secondary;
        font-size: $font-size-base * 1.4;
        color: $gray-main;
    }

    .sub-title {
        font-size: 2.5rem;
        font-weight: 300;
        padding: $padding-base 0;
        color: lighten($gray-main, 10%);
        width: 60%;
    }

    .hire-btn {
        margin: $margin-base;
        font-size: $font-size-title;
        padding: 2.5rem 3.5rem;
    }

    .see-more-btn {
        padding: $padding-base * 0.5 $padding-base * 0.6;
    }

    .container {
        width: 70%;
        padding: $padding-base * 1.5 0;

        h1 {
            padding: $padding-base 0;
            font-size: $font-size-title * 1.5;
            font-weight: 700;
        }
    }

    .selected-work {
        .work-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 3rem;
            padding: $padding-base 0;

            li {
                margin: 1rem;
            }
        }
    }

    .things-i-do {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1.6fr .6fr;

        p {
            padding: $padding-base 0;
            text-align: start;
            font-weight: 300;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .about {
            line-height: 3.5rem;
            padding-right: $padding-base;
        }

        .skills {
            background-color: $black-secondary;
            border-radius: $border-radius-base;
            padding: $padding-base $padding-base * 2;

            p {
                font-size: 1.8rem;
                line-height: 2.3rem;
            }

            .btn-container {
                z-index: 999;
                background-color: transparent;
                width: 100%;
            }
        }
    }

    .my-expertise {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;

        .row {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .card {
                height: 100%;
                display: flex;
                align-items: end;
                border-radius: $border-radius-base;
                margin: 1.5rem 1.5rem 1.5rem 0;
                height: 290px;
                box-shadow: 0 0 0 1px rgba(0, 0, 0, .03), 0 2px 4px rgba(0, 0, 0, .05), 0 12px 24px rgba(0, 0, 0, .05);
                overflow: hidden;
                position: relative;
                transition: all 0.3s ease-in-out;

                .call-btn {
                    position: absolute;
                    width: 100%;
                    border-radius: $border-radius-base;
                    border: none;
                    background-color: black;
                    color: white;
                    padding: $padding-base * 0.3;
                    font-family: $font-family-primary;
                    font-size: $font-size-base;
                    font-weight: 200;
                    cursor: pointer;
                    background-color: $black-main;
                    color: $white-main;
                    margin-bottom: -50px;
                    transition: all 0.3s ease-in-out;
                    text-align: start;
                    padding-left: $padding-base;
                    text-decoration: none;

                    i {
                        margin-left: 10px;
                        transition: all 0.2s ease-in-out;
                        font-size: 12px;
                    }

                    &:before {
                        @include gradient-shadow(0.4);
                    }

                    &:hover {
                        i {
                            transform: translateX(10px);
                        }
                    }
                }

                &:hover {
                    transform: translateY(-8px);

                    .call-btn {
                        margin-bottom: 0px;
                    }

                    .card-info {
                        background-color: rgba(0, 0, 0, 0.042);

                    }

                    .card-icon {
                        font-size: 28px;
                    }

                    p,
                    .card-icon,
                    h1 {
                        transform: translateY(-20px);
                    }
                }

                .card-info {

                    z-index: -1;
                    height: 100%;
                    backdrop-filter: blur(.5px);
                    display: flex;
                    flex-direction: column;
                    text-align: start;
                    width: 100%;
                    padding: $padding-base * 1.2;
                    justify-content: end;

                    h1,
                    p,
                    .card-icon {
                        transition: all 0.3s ease-in-out;
                    }

                    h1 {
                        padding: 2rem 0;
                        font-size: $font-size-title * 1.2;
                    }

                    p {
                        font-size: $font-size-base * 1.2;
                    }
                }

                &.big {
                    width: 60%;
                    position: relative;

                    .bg-grid {
                        width: 200vw !important;
                        height: 300vh !important;
                        margin-left: -50%;
                        position: absolute;
                        top: 0;
                        background: linear-gradient(90deg, rgba(0, 0, 0, .3) 1px, transparent 0), linear-gradient(180deg, rgba(0, 0, 0, .3) 1px, transparent 0);
                        background-size: 80px 120px;
                        background-repeat: repeat;
                        width: 100%;
                        height: 100%;
                        transform: rotateX(45deg);
                        margin-bottom: -800px;
                        animation: grid 4.6s linear infinite;

                        @keyframes grid {
                            0% {
                                transform: translateY(-20%);
                            }

                            100% {
                                transform: translateY(-10%);
                            }
                        }
                    }
                }


                &.small {
                    width: 40%;
                }

                .card-effect {
                    z-index: -222;
                    position: absolute;
                    top: -65px;
                    right: -230px;
                }
            }
        }

        i {
            font-size: 35px;
        }
    }

    .personal-blog {
        .blog-content {
            display: flex;
            justify-content: space-between;
            padding: $padding-base 0;

            .last-posts {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                height: 100%;
            }

            .youtube-video {
                display: flex;
                justify-content: center;
                width: 100%;
                min-height: 100%;
                z-index: 99999999999999;

                iframe {
                    position: relative;
                    border-radius: $border-radius-base;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .blog-content.expanded {
            height: 80vh;
        }
    }
}

// Responsive
@media (max-width: $small-screen) {
    p {
        font-size: $font-size-base * 1.4 !important;
    }
    .my-expertise{
        .row{
            flex-direction: column;
            .card{
                min-width: 100%;
            }
        }
    }

    .home-page {
        .sub-title {
            width: 100%;
        }

        .container {
            width: 80%;
        }

        .selected-work {
            width: 100%;

            .work-list {
                flex-direction: column;
                padding: 1rem;
            }
        }

        .things-i-do {
            display: flex;
            flex-direction: column;
            width: 100%;

            div {
                align-items: center;
            }

            .about {
                padding: 0;
                margin: 0;

                p {
                    line-height: 2rem;
                    text-align: center;
                    padding: $padding-base;
                }
            }
        }

    }
}

@media (max-width: $medium-screen) {
    .home-page {
        .sub-title {
            width: 100%;
        }

        .selected-work {
            width: 100%;
        }

        .personal-blog {
            .blog-content {
                flex-direction: column;

                .last-posts {
                    width: 100%;
                }

                .youtube-video {
                    padding-top: $padding-base * 2;

                    iframe {
                        position: relative;
                        border-radius: $border-radius-base;
                        width: 100%;
                        height: 50rem;
                    }
                }
            }
        }
    }
}