.lets-talk-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding-bottom: $padding-base;
  padding-top: $padding-base * 3;
  h1 {
    font-size: $font-size-title * 3;
    font-weight: $font-weight-title;
    color: $black-main;
    margin-bottom: $margin-base;
  }
  p {
    font-size: 2.3rem;
    font-weight: $font-weight-small;
    color: $gray-main;
  }
  .footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: $padding-base 0;
    button,
    a {
      margin: 0 1rem;
      padding: 1.5rem 2rem;
    }
  }
}


// Responsive
@media (max-width: $small-screen) {
  p {
    font-size: $font-size-base * 1.2 !important;
  }
  h1 {
    font-size: $font-size-title * 2 !important;
  }
  button,
  a {
    font-size: $font-size-base * 0.8 !important;
  }
}
