.language-changer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 $padding-base;

  &:before {
    content: attr(data-text);
    padding: $padding-base * 0.3;
    font-size: $font-size-small;
    color: $white-main;
    background-color: $black-main;
    border-radius: 0.5rem;
    border: none;
  }

  &:after {
    content: '';
    background-color: transparent;
    border: 10px solid;
    border-color: transparent transparent $black-main transparent;
    margin-top: -2rem;
  }

  &:before,
  &:after {
    top: 10rem;
    position: absolute;
    opacity: 0;
    transition: all 0.4s ease;
  }

  &:hover::before,
  &:hover::after {
    opacity: 1;
  }

  img {
    transition: all 0.2s ease-in-out;
    filter: grayscale(100%);
    transform: scale(1);

    &:hover {
      filter: grayscale(0%);
      transform: scale(1.1);
    }

    &:active {
      filter: grayscale(0%);
      transform: scale(0.5);
    }

    &:before {
      content: 'Hello friend';
      display: absolute;
    }
  }
}
