.app-footer {
  font-family: $font-family-secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .nav-menu-flat {
    display: flex;
    padding: 0.5rem;
    li {
      a,
      button {
        background-color: transparent;
        border: none;
        padding: 0;
        text-decoration: none;
        list-style: none;
        color: $gray-main;
        font-size: $font-size-base * 1.2;
        font-weight: $font-weight-title;
        margin: 0 $margin-base;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: darken($gray-main, 100%);
        }
      }
    }
  }
  .social-media-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .emoji-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
    height: 5rem;
    width: 100%;
    h1 {
      transition: all 0.3s ease-in-out;
      font-size: 5rem;
      &:not(:hover) {
        animation: return-animation 0.2s;
      }
      &:hover {
        animation: shake-animation 1s infinite;
      }
    }
  }
}

// Define the keyframes for emoji shake animation
@keyframes shake-animation {
  0% {
    transform: rotate(0) scale(1);
  }
  25% {
    transform: rotate(20deg) scale(1.2);
  }
  50% {
    transform: rotate(-20deg) scale(1.25);
  }
  75% {
    transform: rotate(20deg) scale(1.2);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}

@keyframes return-animation {
  from {
    transform: scale(1.25);
  }
  to {
    transform: rotate(0) scale(1);
  }
}

// Responsive
@media (max-width: $small-screen) {
  .app-footer {
    .nav-menu-flat {
      flex-direction: column;
      padding: 0;
      width: 100%;
      text-align: center;
      li {
        margin: 1rem 0;
        a {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}
