@mixin gradient-shadow{
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: -1;
    background: linear-gradient(310deg, rgba(247,0,204,1) 6%, rgba(74,222,128,1) 99%);
    filter: blur(1rem);
    opacity: 0.2;
}