@mixin gradient-shadow($customOpacity) {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  z-index: -1;
  background: $linear-gradient-primary;
  filter: blur(1rem);
  opacity: $customOpacity;
}

@mixin work-list {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  gap: 4rem;
  justify-items: center;
}
