$black-main: #000;
$black-secondary: #F9FAFB; // #F9FAFB
$white-main: #ffffff;
$gray-main: #7A7A7B;
$green-main: #4ADE80;

$font-family-primary: 'Roboto', sans-serif;
$font-size-base: 1.6rem;
$font-size-small: 1.4rem;
$font-size-title: 2rem;
$font-weight-base: 400;
$font-weight-title: 700;

$padding-base: 2rem;
$border-radius-base: 1rem;