.animated-title-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  z-index: -1;
  
  .animated-item {
    display: inline-block;
    margin-right: 1.5rem;
    font-weight: $font-weight-title;
    transition: all 0.3s ease;
    font-size: 6rem;
  }
}

.hidden {
  opacity: 0;
  transform: translate(10px, 10px);
}

.show {
  opacity: 1;
  transform: scale(1);
  transform: translate(-10px, -10px);
}

