@import '../../assets/scss/setup/variables.scss';
header {
  display: flex;
  align-items: center;
  justify-content: center;
  .header-content {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-base * 2 0;
    font-family: $font-family-primary;
    .logo {
      a {
        font-family: $font-family-secondary;
        font-size: 1.8rem;
        font-weight: 600;
        color: $black-main;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}

// Responsive
@media (max-width: $small-screen) {
  .header-content {
    width: 100%;
  }
}
@media (min-width: $large-screen) {
  header {
    .header-content {
      width: 80%;
    }
  }
}
