@import '../../assets/scss/setup/variables.scss';
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding-base 0;
  font-family: $font-family-primary;
  .logo {
    span {
      font-size: 1.7rem;
      font-weight: $font-weight-title;
      color: $black-main;
    }
  }
}
