button {
  font-size: $font-size-base;
  font-weight: $font-weight-title;
  border-radius: $border-radius-base;
  cursor: pointer;
  border: none;
  transition: all 0.4s ease;
}

// Black version
.black-btn {
    position: relative;
    background-color: $black-main;
    color: $white-main;
    &:before {
      @include gradient-shadow(.4);
    }
    &:hover {
      transform: scale(1.1);
      background-color: lighten($black-main, 75%);
    }
  }  

// White version
.white-btn {
  position: relative;
  background-color: $black-secondary;
  color: $black-main;

  &:hover {
    transform: scale(1.1);
    background-color: darken($black-secondary, 10%);
  }
}