button {
  font-size: $font-size-base;
  border-radius: $border-radius-base;
  cursor: pointer;
  border: none;
  transition: all 0.4s ease;
}

// Black version
.black-btn {
    position: relative;
    background-color: $black-main;
    color: $white-main;
    &:before {
      @include gradient-shadow(.5);
    }
    &:hover {
      transform: scale(1.1);
      background-color: lighten($black-main, 90%);
      z-index: 1;
    }
  }  

// White version
.white-btn {
  position: relative;
  background-color: $white-main;
  color: $black-main;

  &:hover {
    transform: scale(1.1);
    background-color: darken($white-main, 15%);
  }
}
