.about-page{
    padding: $padding-base *3;
    .info-container{
        display: flex;
        justify-content: center;
        p{
            font-family: $font-family-secondary;
            color: $gray-main;
            font-size: $font-size-base *1.4;
            line-height: 4rem;
            text-align: center;
            padding:$padding-base;
            width: 60%;
        }
    }
    .btn-container{
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: $padding-base * 2;
        button, a{
            display: flex;
            padding: $padding-base;
            margin-right: $margin-base * 2;
        }
    }
  
}